* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans", sans-serif;
    overflow: hidden;
}

.container {
    max-width: 60rem;
    padding: 4.8rem 3.2rem 4.8rem 3.2rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.heading-primary {
    font-size: 4.8rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    color: hsl(292, 42%, 14%);
}

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.4rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    transform: translate(0, -25%);
}

.heading {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3;
    color: hsl(292, 42%, 14%);
}

.heading:active,
.heading:hover {
    color: hsl(292, 16%, 49%);
}

.description {
    font-size: 1.6rem;
    line-height: 1.8;
}

.btn {
    background-color: hsl(0, 0%, 100%);
    border: none;
}

.hero-img {
    width: 100%;
}
